/* You can add global styles to this file, and also import other style files */

* { /* Reset margins/padding etc. for overriding in component files */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}